#main-nav {
    background-color: #36B461 !important;
}

#img-nav{
    width: 250px;
}


.main-img{
    height: 100vh;
    width: 100%;
    background-image: url('/assets/img/dog-background.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 0;
}

.text-img{
    font-size: 70px;
    color: white;
}

.button-icon{
    margin-top: 450px;
    margin-left: 250px;
    background-color: #36B461;
    color: white;
}

#icon-white{
    width: 60px;
    height: 60px;
}

.footer{
    bottom: 0;
    color: white;
    width:100%;
    text-align: center;
    background-color: #333333;

}

#img-footer{
    width: 250px;
    height: 250px;
}